/* CSS Document */


*{margin: 0;padding: 0;}
body{
	font-size: 20px;
	font-family:'SansGBW33cc7085c46143';
	background:rgb(236,236,236);
	margin: 0 auto;
    min-width: 67.45em;
}

a{text-decoration: none; cursor: pointer;color:#FFF;}
ul,li,ol{list-style: none;}

/*背景处理*/
.nav_bg{  background-color: #1C1D1A;width:100%;  }




/*对布局进行处理、居中*/
nav,section,footer{
	margin:0 auto;
	position: relative;
    width:67.45em;
    position: relative;

	}


/*导航栏*/
nav{
	height: 2.5em;
	line-height:2.5em;
	background-color: #1C1D1A;
	padding: 0 10.1175em;
	width: 47.215em;
	}
	
nav *{
  color: #FFFFFF;
}
.thisli>a:hover{color:#c0c0c0;}

nav li{float: right;font-size: 14px;width: 11.7%;text-align: right;}
nav>a>i.iconfont{font-size: 50px;float: left;margin-left: 5px;}
.thisli>a{color:#c0c0c0;}
nav>ul>li>a:hover{color:red;}
/*页脚*/
footer{
	height: 3.4em;
	line-height: 3.4em;
	background-color: #3E3E3E;
	color: #FFF;
	text-align: center;
	font-size: 10px;
    width: 100%;
}






/*特效/CSS3效果*/



nav>a>i.iconfont:hover{	
	color: red;
	transform:rotate(-720deg);
/*	transition: transform 2s linear;
*/	-webkit-transition: all 1s 0.3s ease-in-out;
    -moz-transition: all 1s 0.3s ease-in-out;
    transition: all 1s 0.3s ease-in-out;
}


/*定义一个名字为lefteaseinAnimate动画，实现从页面的左边淡入页面效果*/
@keyframes lefteaseinAnimate{
    0%{ transform: translateX(-2000px); opacity: 0;}   /*在0%时设置文字在想X轴-2000px位移处（左边），透明度为0，也就是看不见文字*/
    70%{ transform: translateX(150px); opacity: 1;}   /*在0%时设置文字在想X轴-2000px位移处（左边），透明度为0，也就是看不见文字*/
    
    100%{ transform: translateX(0px); opacity: 1;}         /*在100%时设置文字在想X轴0px位移处，也就是原始布局的位置，透明度为1，也就是文字可以看见了*/
}/*
@-webkit-keyframes lefteaseinAnimate{
    0%{ -webkit-transform: translateX(-2000px); opacity: 0;}
    100%{ -webkit-transform: translateX(0px); opacity: 1;}    
}
@-o-keyframes lefteaseinAnimate{
    0%{ -webkit-transform: translateX(-2000px); opacity: 0;}
    100%{ -webkit-transform: translateX(0px); opacity: 1;}    
}
@-ms-keyframes lefteaseinAnimate{
    0%{ -webkit-transform: translateX(-2000px); opacity: 0;}
    100%{ -webkit-transform: translateX(0px); opacity: 1;}    
}
@-moz-keyframes lefteaseinAnimate{
    0%{ -webkit-transform: translateX(-2000px); opacity: 0;}
    100%{ -webkit-transform: translateX(0px); opacity: 1;}    
}
*/
/*定义一个名字为righteaseinAnimate动画，实现从页面的右边淡入页面效果*/
@keyframes righteaseinAnimate{
    0%{ transform: translateX(2000px); opacity: 0;}   /*在0%时设置文字在想X轴2000px位移处（右边），透明度为0，也就是看不见文字*/
    70%{ transform: translateX(-100px); opacity: 1;}   /*在0%时设置文字在想X轴2000px位移处（右边），透明度为0，也就是看不见文字*/

    100%{ transform: translateX(0px); opacity: 1;}      /*在100%时设置文字在想X轴0px位移处，也就是原始布局的位置，透明度为1，也就是文字可以看见了*/
}/*
@-webkit-keyframes righteaseinAnimate{
    0%{ -webkit-transform: translateX(2000px); opacity: 0;}
    100%{ -webkit-transform: translateX(0px); opacity: 1;}
}
@-o-keyframes righteaseinAnimate{
    0%{ -webkit-transform: translateX(2000px); opacity: 0;}
    100%{ -webkit-transform: translateX(0px); opacity: 1;}
}
@-ms-keyframes righteaseinAnimate{
    0%{ -webkit-transform: translateX(2000px); opacity: 0;}
    100%{ -webkit-transform: translateX(0px); opacity: 1;}
}
@-moz-keyframes righteaseinAnimate{
    0%{ -webkit-transform: translateX(2000px); opacity: 0;}
    100%{ -webkit-transform: translateX(0px); opacity: 1;}
}
*/

.teacher>div{
    animation: lefteaseinAnimate 1.5s ease 1;    /*调用已定义好的动画lefteaseinAnimate，全程运行时间1.5s，进入的速度曲线为ease，只播放一次*/
    -webkit-animation: lefteaseinAnimate 1.5s ease 1;
    -ms-animation: lefteaseinAnimate 1.5s ease 1;
    -o-animation: lefteaseinAnimate 1.5s ease 1;
    -moz-animation: lefteaseinAnimate 1.5s ease 1;
    
    /*规定动画的最后状态为结束状态*/
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;  
      -o-animation-fill-mode: forwards; 
      -ms-animation-fill-mode: forwards;   
      -moz-animation-fill-mode: forwards; 
}


.teacher>img{
    animation: righteaseinAnimate 1.5s ease 1;    /*调用已定义好的动画righteaseinAnimate，全程运行时间1.5s，进入的速度曲线为ease，只播放一次*/
    -webkit-animation: right ease-in Animate 1.5s ease 1;
    -moz-animation: right ease-in Animate 1.5s ease 1;
    -ms-animation: right ease-in Animate 1.5s ease 1;
    -o-animation: right ease-in Animate 1.5s ease 1;
    
    /*规定动画的最后状态为结束状态*/
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;  
      -o-animation-fill-mode: forwards; 
      -ms-animation-fill-mode: forwards;   
      -moz-animation-fill-mode: forwards; 
}
