/* CSS Document */


*{margin: 0;padding: 0;}
body{
	font-size: 20px;
	font-family:'SansGBW33cc7085c46143';
	background:rgb(236,236,236);
	width:67.45em;
	margin: 0 auto;
}

a{text-decoration: none; cursor: pointer;color:#FFF;}
ul,li,ol{list-style: none;}

/*对布局进行处理、居中*/
nav,section,footer{
	margin:0 auto;
	position: relative;
	}


/*导航栏*/
nav{
	height: 2.5em;
	line-height:2.5em;
	background-color: #1C1D1A;
	padding: 0 15%;
	width: 70%;
	}
	
nav *{
  color: #FFFFFF;
}
.thisli>a:hover{color:#c0c0c0;}

nav li{float: right;font-size: 14px;width: 11.7%;text-align: right;}
nav>a>i.iconfont{font-size: 50px;float: left;margin-left: 5px;}
.thisli>a{color:#c0c0c0;}
nav>ul>li>a:hover{color:red;}
/*页脚*/
footer{
	height: 3.4em;
	line-height: 3.4em;
	background-color: #3E3E3E;
	color: #FFF;
	text-align: center;
	font-size: 10px
}


/*特效/CSS3效果*/
nav>a>i.iconfont:hover{	
	color: red;
	transform:rotate(-720deg);
/*	transition: transform 2s linear;
*/	-webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}


