html,body{height: 100%; margin: 0;padding: 0;}
.bg{background: #E7EAEC;text-align: center; padding-bottom: 2.2em;color: #41484e; height: 97.5%;min-height: 40em;}
.bg>img{margin-top:2.5em;margin-bottom: 2em; width: 51.499em;}
.bg *{line-height: 2em; }
.bg>p{font-size: 12px;}
.content {font-size:12px;width:23.334em;text-align: center; display: inline-block;margin-top: 1em;}
form>p{text-align: left;} 


label{display: block;margin-top: 1.786em;font-size: 14px;}
input,textarea{
  font-size:12px;
  width: 92.8%;
  background:#41494E; 
  border: 0px;
  border-radius:0.4em;
  border-color:#41484e; 
  color:#FFF;
  padding: 0.416em 3.6%;
  outline:medium;
}



input{
  height:1.667em;    

}
textarea{
  min-height: 9.5em;
  resize:vertical;
  overflow-y: auto;
  scrollbar-face-color:#000;
  scrollbar-track-color:#41494E;
    border-radius:0.8em;


}

#submit{
  width: 4.334em;
  height: 4.334em;
  background: #F56A76;
  border-radius: 2.167em;
  margin-top: -2.167em;
  color: #41484e;
  font-weight: bold;
  cursor: pointer;
}

#submit:hover{
  color:#FFF;
  background-color:#FF5A76;

}


input:not([type="submit"]):active, 
textarea:active,
input:not([type="submit"]):focus, 
textarea:focus{
background:#41484e;

/*box-shadow*/
-webkit-box-shadow:3px 3px 7px #000 inset;
   -moz-box-shadow:3px 3px 7px #000 inset;
        box-shadow:3px 3px 7px #000 inset;
}
@keyframes colors {
  0%{  background-color: #E7EAEC }
  20%{  background-color: #FEB449 }
  40%{  background-color: #C3BED4 }
  60%{  background-color: #FFFBFF }
  80%{  background-color: #E7EAEC }
  100%{  background-color: #BDB769 }
}


.bg{
  -webkit-animation: colors 100s linear 2s  alternate 10;
  -o-animation: colors 100s linear 2s  alternate 10;
  animation: colors 100s linear 2s  alternate 10;
  overflow: visible;
}


@keyframes strap1 {
  0%{  transform: scaleX(0.5); }
  40%{  transform: scaleX(1.5); }
  100%{  transform: scaleX(1); }
}


.bg>img{
  -webkit-animation: strap1 2s linear 0s 1;
  -o-animation: strap1 2s linear 0s 1;
  animation: strap1 2s linear 0s 1;
}



#submit:hover{
  box-shadow:  -2px 0px 20px rgba(255,0,0,1);

}

.content:hover{
    margin: 5.3em;
    transform: scale(1.3) translate(0,-50px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

}

