

/*设置图片适应*/
.content-1>img{width: 100%;}
.content-1{
	background:no-repeat url("../pic/TKmain2.jpg") rgba(0,0,0,1);
	background-size: 100% 100%; 

}


/*内容块*/
.content-2 *{text-align: center;color: #bbbbbb;line-height: 1.6em;}
.content-2{background-color:#FFF}

.font46{font-size: 46px;color: #858484;}
.font23{font-size: 23px;}


.achievement{position: relative; margin: 100px 15% 115px;} 
.achievement>img{width: 54%; }
.achievement>div{display: inline-block; width:42%; text-align: left;margin-left: 2%;vertical-align: top;padding-top: 5px;}
.achievement>div *{
	font-size: 15px;
	color: #bbbbbb;
	line-height: 2.5em;
	text-align: left;
}
i.color1{ color: #69c5e5; }
i.color2{ color: #caa06e; }
i.color3{ color: #bdbfc6; }
i.color4{ color: #3e466a; }
.content-2 p.h1{
	clear: both;
	font-size: 46px;
	color:#00cc99;
}


/*组介绍·我们做什么*/
.group-title{font-size: 18px;color:#757575;}
.a-line{font-size:20px; display: inline-block;height: 0.05em;background-color: #969696;width:9.6%; margin: auto 16px 5px 16px;}

.group-card{}
.group-cardi{display:inline-block;width: 17.5%;margin:2em auto 6.25em; padding-top: 1.5em;padding-bottom: 1em;cursor: pointer;}
.group-cardi>div{
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: #00CC98;
	line-height: 100px;
}
.group-cardi>div>i{	color:#FFF;font-size: 3em;}
.group-cardi>span{font-size: 18px; line-height: 2.5em; color:#757575;}
.group-cardi>p{ font-size: 12px;color:#757575; line-height: 2.5em; white-space:nowrap; overflow: hidden;} 




/*特效/CSS3效果*/

/*卡片展现*/
.group-cardi:hover{	
	transition-delay: 0.1s;
	background-color:  #00CC98;	
	margin-top: 1.8em;
	transition: transform 0.5s ease-in-out;
	transition: margin-top 0s ease-in-out;
}

.group-cardi:hover{	
	transform:  scale(1.5);
	box-shadow:inset 0px 2px 2.5em rgba(0,0,0,0.3),0px 1px 3em #000;
    transition: transform 0.3s ease-in-out;
}
.group-cardi:hover>*{	
  color:white;
  text-overflow: ellipsis;
  transition: transform 0.3s ease-in-out;

}
.group-cardi:hover>div{
	/*background: pink;255,192,203 */

 transition: background 0s ease-in-out;

}
.group-cardi:hover>div>i{
	font-size: 4em;
         transition: font-size 0s ease-in-out;
}

/*旋转放大*/
/* @-moz-keyframes big{
        0%{
          -moz-transform:rotate(0deg);
         }
         10%{
           -moz-transform:rotate(360deg);
         }         
         100%{
           -moz-transform:rotate(360deg);
         }
      }
      @-webkit-keyframes rotate{
        0%{
          -webkit-transform:rotate(0deg);
         }
         10%{
           -webkit-transform:rotate(360deg);
         }         
         100%{
           -webkit-transform:rotate(360deg);
         }
      }*/
      @keyframes big{
        0%{
          opacity: 0;
          transform: rotate(0deg) scale(0);
         }

         70%{
          opacity: 1;
          transform: rotate(370deg) scale(1.2);
        }
   /*     80%{
          transform: rotate(10deg); scale(1);
        }*/
        85%{
          transform: rotate(-10deg); scale(1.1);
        }
        100%{
          transform: rotate(0); scale(1);
        }
      }

.content-1>img{

  animation: big 2s  ease-in-out 0.1s 1;

}
