
/*主要块*/
.bg{background-color: #FFFCD8;padding-bottom: 5.9em;}

.teacher>img{font-size: 35px; float: left; margin-right: 70px;height: 15.286em;}
.teacher>div{font-size: 12px;text-align: left;color: #a9a179;line-height: 2.5em;padding-top: 180px;}
.teacher>div>span{font-size: 36px;line-height:  2em}


.member-list{clear: both;margin-bottom: 5em;padding-top: 4.25em;}



.member-list {text-align: center;}
.member-list *{text-align: center;color: #757575;line-height: 1.6em;}
.member-list>p{
	font-size: 46px;
	color:#00cc99;
}


/*组介绍*/
.member-title{font-size: 18px;color:#757575;}
.a-line{display: inline-block;height: 1px;background-color: #969696;width:9.6%; margin: auto 16px 5px 16px;}


.btn:hover{
	background:pink;
}


.btn{
	display: none;
	width: 2em;
	height: 3em;	
	background: #C3BFD1;
	line-height: 3em;
	cursor: pointer;
	text-align: center;
	vertical-align: top;
	margin-top: 8em;
}
.btn>i{font-size: 40px;	color: #FFF;
}

.display:hover>*{	display: inline-block;
}


.member-card{ display:inline-block; width: 50em; white-space: nowrap;  margin-top: 2.5em;overflow: hidden;}

.member-cardi{display:inline-block;width: 10em; color:#757575; }
.member-cardi>img {width: 82.5% ; }
.member-cardi>div{
	display: inline-block;
	text-align: left;
	width: 82% ;
	border:1px solid #D6D3C1;
	margin-top: 6px; 
	 line-height: 1.6em;
}
.member-cardi>div>span{font-size: 24px;margin-left: 10px;}
.member-cardi>div>p{ font-size: 12px; white-space:nowrap; text-align: left;margin-left: 10px;margin-bottom: 5px;} 

.join{position: relative; width: 100%; background-color: #E1DFB4;font-size: 18px;line-height: 2em;color: #636360;text-align: center; padding-bottom: 4em;}
.join>img{position: absolute;bottom : 0;right: 150px;font-size: 25px;height: 19.2em;}
.join>div{margin-right: 370px;padding-top: 3em;}
.join>div>span{font-size: 30px;line-height: 5.5em;}
.join>div>a>div{	
	display: inline-block;	
	background-color: #7EB79F;
	width: 9.167em;
	height: 2.2em;
	margin: 15px 0 90px;
	border-radius: 5px;
	-webkit-box-shadow:0px 3px 2px #70A189;
	-moz-box-shadow:0px 3px 2px #70A189;
	box-shadow:0px 3px 2px #70A189;
	cursor: pointer;
	color:  #636360;
}
.join>div>a>div:hover{
	color: #FFF;

}